<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloBean" class="com.demo.HelloApplication" init-method="init" destroy-method="destroy">
        <property name="name" value="apktool" />
    </bean>


    <bean id="customDao" class="com.custome.CustomDaoImpl"></bean>
    <bean id="customService" class="com.custome.CustomServiceImpl" p:customDao-ref="customDao">
        <!--
        <constructor-arg index="0" ref="customDao"></constructor-arg>
        -->
        <!--
        <property name="customDao" ref="customDao"></property>
        -->

    </bean>

    <bean id="collectionDemo" class="com.springel.CollectionDemo"></bean>
    <bean id="customer" class="com.springel.Customer">
        <property name="name" value="#{collectionDemo.nameMap['001']}"/>
        <property name="telephone" value="#{collectionDemo.teleList[0]}"/>
    </bean>
</beans>